<!-- Page Header -->
<div class="content bg-gray-lighter">
    <h1 class="page-heading push">
        Media Groups
    </h1>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
    <!-- Blocks API, functionality is initialized in js/app.js -> uiHelpers Factory -> uiBlocks() -->
    <div class="row">
        <div class="col-sm-12">
            <div class="block">
                <div class="block-header">
                    <span style="font-size: 18px;">{{title}} : {{type}}</span>
                </div>
                <div class="block-content">
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <input ng-model="searchedFile" type="text" class="form-control" id="SearchFilename" aria-describedby="SearchFilename" placeholder="Search Filename">
                        </div>
                        <span class="form-group col-xs-12 col-md-4 hidden-sm col-lg-7"></span>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <button class="btn btn-minw btn-default pull-right" ng-click="deleteMedia()">Remove</button>
                        </div>
                    </div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped js-dataTable-simple dataTable no-footer" id="DataTables_Table_0" role="grid"
                                    aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending"
												style="width: 50px;">
												<input style="width:100%;" type="checkbox" id="selectAll" ng-change = "toggleAllCheckBoxes(allSelector)" ng-model="allSelector">
											</th>
                                            <th class="" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending"
                                                style="width: 100px;">Filename</th>
                                            <th class="" style="width: 111px;" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                aria-label="Access: activate to sort column ascending">API
                                                Type
                                            </th>
                                            <th class="text-center sorting_disabled" style="width: 81px;" rowspan="1" colspan="1" aria-label="Actions">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" ng-repeat="file in (filteredMedia = (media|filter:searchedFile))">
                                            <td>
												<input style="width:100%;" type="checkbox" ng-model="checkboxesModels[file.name]">
											</td>
                                            <td class="">{{file.name}}</td>
                                            <td class="">Icons</td>
                                            <td class="text-center">
                                                <a style="font-size: 12px;">Preview</a>
                                            </td>
                                        </tr>
                                    </tbody>
								</table>
								<div class="row"><span>.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Blocks API -->