.align-center{
    display: flex;
    justify-content: center;
}
.logo-container{
    line-height: 30px !important;
}
.bg-logo, .nav-main a{
    background-color: #003748;
}

.nav-main a{
    padding: 10px 45px;
}

.nav-main .nav-main-heading{
    padding: 18px 45px;
    color: white;
}

#page-container, #sidebar {
    background-color: #004e63;
}
.remove-top-padding{
    padding-top: 0px !important;
}

/*Adding extra margin on sidenav navigation*/
.gutter-tp{
    border-top: 16px solid #003748;
    border-bottom: 16px solid #003748;
}

.multiselect-parent, .width100{
    width: 100%;
}

.left-align{
    text-align: left;
}
.multiselect-parent button span{
    float: right;
    margin-top: 8px;
}
.multiselect-parent button{
    background-color: white;
}



.custom-multi-select{
    position:absolute;visibility:hidden;
    width: calc(100% - 30px); 
    z-index: 1;
}
.custom-multi-select option{
    padding: 10px;    
}

select:focus {
    outline: none;
}

.form-check-inline{
	display: inline-block;
}
.toggleBulk{
	padding: 10px 10px 20px 10px;
}

.toggleBulk div{
	margin-right: 20px;
}

.dataTables_wrapper .col-sm-12{
	overflow: auto;
}

.side-content.side-content-full {
    padding-bottom: 0px;
}


#reports-table thead th{
	font-size: 10px !important;
    vertical-align: middle;
    text-align: center;
}
.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.loader-overlay{
	content: '';
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}